<div class="fx-layout-col">
  @if (state === State.Loading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <div class="fx-layout-col">
    <div><a routerLink="/wow/screenshots">Screenshots</a></div>
    <div>Absolute Dragons vs Ragnaros:</div>
  </div>
  <div class="fx-flex-15px"></div>
  @if (hasScreenshots) {
  <ngb-carousel>
    @for (screenshot of screenshots; track screenshot) {
    <ng-template ngbSlide>
      @for (image of screenshot.images; track image) {
      <div class="picsum-img-wrapper">
        <img [src]="getImageUrl(image)">
      </div>
      }
      <div class="carousel-caption">
        {{screenshot.text}}
      </div>
    </ng-template>
    }
  </ngb-carousel>
  }
</div>
