<div class="fx-layout-col">
  @if (state === State.Loading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if (!hasMacros) {
  <div>
    No Macros!
  </div>
  } @else {
  <mat-accordion multi>
    @for (macroClass of macroClasses; track macroClass) {
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{macroClass.character_class.toUpperCase()}}</mat-panel-title>
      </mat-expansion-panel-header>
      @for (macro of macroClass.macros; track macro) {
      <div class="fx-layout-col">
        <div class="es-news-header">{{macro.name}}</div>
        <div [innerHtml]="macro.macro"></div>
        <div class="fx-flex-15px"></div>
      </div>
      }
    </mat-expansion-panel>
    }
  </mat-accordion>
  }
</div>
