<div fxLayout="column">
  <div fxLayout="row">
    <div fxLayout="column">
      <div><a href="mailto: ignignokterr@gmail.com">Shane Lillie</a></div>
      <div>Software Engineer</div>
      <div>Portland, OR</div>
    </div>
  </div>
  <div fxFlex="20px"></div>
  <mat-divider></mat-divider>
  <div class="mat-body-2 container-15">
    Software engineer with over a decade of experience implementing multi-language cloud services and half a decade of
    game development. Specialties in <strong>Rust</strong>, <strong>Go</strong>, <strong>C#</strong>,
    <strong>C++</strong>, <strong>Python</strong>, <strong>Typescript</strong>, and <strong>Unity3D</strong>. Experience
    collaborating remotely across multiple regions. Known for being able to digest new, varied tasks quickly and
    effectively. Self-directed with specific interests in software architecture and design.
  </div>
  <mat-accordion multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>PROFESSIONAL EXPERIENCE</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Programmer</div>
                  <div class="es-resume-date">10/2017 - Present</div>
                </div>
                <div class="es-resume-company" fxFlex>
                  <a href="http://www.readyatdawn.com/">Ready at Dawn Studios</a> and Facebook Reality Labs
                </div>
                <div class="es-resume-location" fxFlex>Portland, OR</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Contributed to live support and development of <a href="https://www.oculus.com/echo-vr/">EchoVR</a>
                game
                <ul>
                  <li>Developed <strong>match history</strong> tracking and browsing system</li>
                  <li>Maintained and continued development of <strong>ELK</strong>-based statistics and analytics
                    backend and interface</li>
                  <li>Developed and maintained <strong>Go / Angular</strong> DevOps tooling</li>
                  <li>Developed, maintained, and adjusted various <strong>matchmaking</strong> flows and inputs</li>
                  <li>Assisted with porting core OS interfaces to Linux / Android</li>
                  <li>Ported core engine HTTP interface to <strong>libcurl</strong> for Linux / Android</li>
                  <li>Ported core engine crash handling to <strong>Google Breakpad</strong> for Linux / Android</li>
                  <li>Developed <strong>Rust</strong>-based game server allocation service</li>
                  <li>Developed Social Group Moderation UI and API using Angular and <strong>AWS Lambda / API
                      Gateway</strong></li>
                  <li>Mentored and onboarded backend service developers</li>
                  <li>Long term maintenance and deployment of all backend service applications using the <strong>AWS
                      cloud platform</strong>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Software Engineer</div>
                  <div class="es-resume-date">9/2015 - 10/2017</div>
                </div>
                <div class="es-resume-company" fxFlex><a href="https://www.glu.com/">Glu Mobile</a>
                </div>
                <div class="es-resume-location" fxFlex>Portland, OR</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Assisted Toronto-based team with finish-line frontend and backend work needed to release <strong>Unity
                  5</strong> mobile title <strong>The Swift Life</strong></li>
              <li>Costed, implemented, and maintained systems on <strong>Unity 5</strong> (up to 5.4.4) mobile title
                <strong>Ultimate Chef</strong>
                <ul>
                  <li>Beta released in Philippines, New Zealand, and Canada on <strong>iOS</strong> and
                    <strong>Android</strong> platforms</li>
                  <li>Implemented and maintained <strong>audio system</strong> (Unity 5 mixer-based), <strong>quest
                      system</strong>, <strong>wall decoration system</strong>, and <strong>social systems</strong>,
                    including <strong>facebook login</strong>, client-side <strong>friend/profile management</strong>,
                    and <strong>player to player gifting</strong></li>
                  <li>Implemented initial <strong>character management systems</strong>
                    <ul>
                      <li>Implemented <strong>character behavior systems</strong></li>
                      <li>Implemented system for <strong>dynamically swapping character model parts</strong></li>
                      <li>Integrated <strong>A* Pathfinding Project</strong> and <strong>Behavior Designer</strong>
                        assets</li>
                    </ul>
                  </li>
                  <li>Developed Behavior Designer-based systems for use with first time user experience and quest
                    sequences</li>
                  <li>Collaborated with designers to implement quest task hooks and behavior tree nodes</li>
                  <li>Implemented texture "painting" system using <strong>custom shader and color manipulation</strong>
                    <ul>
                      <li>Optimized shader for mobile and to avoid branching</li>
                    </ul>
                  </li>
                  <li>Assisted with refinement and optimization of game <strong>UI systems</strong>
                  </li>
                  <li>Designed and implemented <strong>timestamp offset cheat detection</strong></li>
                  <li>Responsible for managing the <strong>Android</strong> platform release
                    <ul>
                      <li>Managed overall game handling of Android back button</li>
                      <li>Integrated <strong>UnityOBBDownloader</strong> plugin to allow for expansion file downloading
                      </li>
                    </ul>
                  </li>
                  <li>Worked on many <strong>profiling and optimization</strong> tasks</li>
                </ul>
              </li>
              <li>Developed and maintained Unity-based <strong>build automation tools</strong> and
                <strong>auto-generated game data editors</strong>, making use of <strong>reflection</strong>,
                <strong>data binding</strong>, and <strong>JSON</strong> layout files
                <ul>
                  <li>Collaborated with the design and engineering teams to continually improve the data editors over
                    the life of the project</li>
                </ul>
              </li>
              <li>Developed and maintained <strong>Unity asset bundle</strong> download and management system for
                <strong>DLC</strong> content
                <ul>
                  <li>Worked extensively with <strong>Unity coroutines</strong>, the <strong>UnityWebRequest</strong>
                    class, and <strong>AWS S3</strong> services</li>
                </ul>
              </li>
              <li>Setup initial <strong>Jenkins</strong>-based build automation and continuous integration platform and
                assisted with maintaining and improving the build process over the life of the project</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Senior Software Developer</div>
                  <div class="es-resume-date">7/2014 - 8/2015</div>
                </div>
                <div class="es-resume-company" fxFlex>Symantec Corporation</div>
                <div class="es-resume-location" fxFlex>Portland, OR</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Collaborated <strong>remotely</strong> with Toronto, San Francisco, and Chennai based teams</li>
              <li>Assisted with shutdown of two long standing <strong>Linux/Java</strong> based <strong>Enterprise
                  Instant Messaging</strong> products</li>
              <li>Assumed senior level responsibilities in transitioning customer facing <strong>ASP.NET</strong>
                support tool from proof of concept to official requirements to implementation
                <ul>
                  <li>Migrated synchronous methods to asynchronous, making use of <strong>C#</strong> async/await
                    features</li>
                  <li>Designed and implemented application layer for new C# based troubleshooting request monitoring and
                    processing <strong>Windows Service</strong></li>
                  <li>Analyzed and corrected code using <strong>ReSharper</strong> and implemented unit tests using the
                    <strong>Microsoft Unit Testing Framework</strong> and <strong>Typemock</strong></li>
                </ul>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Software Developer</div>
                  <div class="es-resume-date">12/2008 - 7/2014</div>
                </div>
                <div class="es-resume-company" fxFlex>Symantec.cloud<br /><small>Formerly MessageLabs</small></div>
                <div class="es-resume-location" fxFlex>Boise, ID / Portland, OR</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Collaborated remotely with Toronto and UK based teams</li>
              <li>Researched and developed protocol changes for <strong>Linux/Java</strong> based <strong>Instant
                  Messaging Security</strong> product to add support for <strong>OCS/Lync (SIP)</strong> traffic
                scanning, including OCS/Lync federation, public IM federation, remote user support, certificate
                management, and customer configuration at the portal level. Communicated directly with customers in the
                GMT timezone to resolve issues during development</li>
              <li>Continued supporting Enterprise Instant Messaging <strong>Linux/Java/C++</strong> based backend and
                <strong>Windows/C++/MFC</strong> based frontend as well as taking on a larger role in maintaining the
                Instant Messaging Security product</li>
              <li>Integrated <strong>Embedded Tomcat</strong> instance across all Instant Messaging Security product
                components as an improvement to the existing internal facing diagnostics interface along with adding
                <strong>JSP/JSTL/jQuery</strong> support</li>
              <li>Assisted in transitioning from <strong>Accurev</strong> SCM to <strong>Perforce</strong> SCM,
                including updating automated <strong>Python</strong> build script and becoming familiar with the use of
                <strong>git-p4</strong> as an extension of Perforce</li>
              <li>Participated in company wide security audit project and assisted in development of <strong>SDL threat
                  models</strong> and preparation of mitigation plans as a result of that work
                <ul>
                  <li>Made use of <strong>OWASP</strong> and <strong>CVSS</strong> tools</li>
                </ul>
              </li>
              <li>Participated in several free form innovation day events
                <ul>
                  <li>Developed <strong>C#/WPF</strong> configuration editor for Instant Messaging Security product</li>
                  <li>Converted existing JSP/JSTL diagnostic pages to <strong>AngularJS</strong></li>
                </ul>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Software Developer</div>
                  <div class="es-resume-date">12/2005 - 12/2008</div>
                </div>
                <div class="es-resume-company" fxFlex>MessageLabs<br /><small>Formerly Omnipod,
                    Inc.</small></div>
                <div class="es-resume-location" fxFlex>Boise, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Collaborated remotely with Toronto and UK based teams</li>
              <li>Completed maintenance tasks on <strong>Linux/Java/C++</strong> based <strong>Enterprise Instant
                  Messaging</strong> backend
                <ul>
                  <li>Continued maintanence of <strong>JSP/JSTL</strong> administration portal and reporting tool </li>
                  <li>Assisted in rebranding of portal and reporting UIs</li>
                  <li>Fixed numerous bugs across the system</li>
                </ul>
              </li>
              <li>Completed maintenance tasks on <strong>Windows/C++/MFC</strong> based Enterprise Instant
                Messaging frontend
                <ul>
                  <li>Ported frontend from single-byte encoding to Unicode</li>
                  <li>Fixed numerous frontend bugs</li>
                </ul>
              </li>
              <li>Developed <strong>wireframes</strong> for <strong>Instant Messaging Security</strong> product portal
                interface</li>
              <li>Developed Instant Messaging Security extensions for existing <strong>C#/WCF</strong> portal API</li>
              <li>Developed <strong>WiX</strong> installers for several Instant Messaging Security backend components
              </li>
              <li>Took over development of several internal <strong>bash shell script</strong> support tools</li>
              <li>Ported automated build script from bash shell script to <strong>Python</strong></li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Software Developer</div>
                  <div class="es-resume-date">1/2005 - 12/2005</div>
                </div>
                <div class="es-resume-company" fxFlex>Omnipod, Inc.</div>
                <div class="es-resume-location" fxFlex>Boise, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Collaborated remotely with New York based team</li>
              <li>Ported <strong>Solaris/C++</strong> backend to <strong>Linux</strong> with <strong>g++ and
                  autotools</strong></li>
              <li>Fixed numerous bugs in <strong>JSP</strong> administration portal</li>
              <li>Designed and implemented several logging messages for reporting</li>
              <li>Developed <strong>JSP/JSTL/XHTML/CSS/AJAX</strong> interface to report generation tool</li>
              <li>Developed <strong>Java</strong> based report modules for report generation tool</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Student Software Developer</div>
                  <div class="es-resume-date">6/2002 - 12/2004</div>
                </div>
                <div class="es-resume-company" fxFlex>Boise State University</div>
                <div class="es-resume-location" fxFlex>Boise, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Designed and developed PIC assembly software for temperature sensor hardware</li>
              <li>Designed and developed PC interface to temperature sensor hardware using <strong>C++</strong> and
                <strong>Windows Template Library (WTL)</strong></li>
              <li>Developed Vicon Force Plate software plugins using C++ and MFC</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Intern</div>
                  <div class="es-resume-date">6/2002 - 8/2002</div>
                </div>
                <div class="es-resume-company" fxFlex>Imici, Inc.</div>
                <div class="es-resume-location" fxFlex>Boise, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Responded to customer support request emails</li>
              <li>Assumed software Q&amp;A and testing responsibilities</li>
              <li>Developed a <strong>Linux/C++/Qt</strong> based instant messenger client</li>
              <li>Researched server memory saving using a shared memory solution</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">PC Technician</div>
                  <div class="es-resume-date">6/2000 - 6/2002</div>
                </div>
                <div class="es-resume-company" fxFlex>Kuna School District</div>
                <div class="es-resume-location" fxFlex>Kuna, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Maintained district PCs</li>
              <li>Took on software and hardware tasks relating to <strong>Linux</strong> and the web</li>
              <li>Webmaster for <a href="http://www.kunaschools.org/">http://www.kunaschools.org/</a> in 2002</li>
            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>EDUCATION</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxFlex>
              <div fxLayout="column" fxFlex>
                <div class="es-resume-title"></div>
                <div class="es-resume-date">8/2000 - 12/2004</div>
              </div>
              <div class="es-resume-company" fxFlex>Boise State University</div>
              <div class="es-resume-location" fxFlex>Boise, ID</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="es-resume-info">
          <ul>
            <li>Bachelor of Science in Computer Science</li>
            <li>3.161 GPA</li>
          </ul>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxFlex>
              <div fxLayout="column" fxFlex>
                <div class="es-resume-title"></div>
                <div class="es-resume-date">8/1996 - 5/2000</div>
              </div>
              <div class="es-resume-company" fxFlex>Kuna High School</div>
              <div class="es-resume-location" fxFlex>Kuna, ID</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="es-resume-info">
          <ul>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel expaned="true">
      <mat-expansion-panel-header>
        <mat-panel-title>AFFILIATIONS</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxFlex>
              <div fxLayout="column" fxFlex>
                <div class="es-resume-title">Secretary</div>
                <div class="es-resume-date">2003 - 2004</div>
              </div>
              <div class="es-resume-company" fxFlex>Video Graphics Research Group</div>
              <div class="es-resume-location" fxFlex>Boise State University</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="es-resume-info">
          <ul>
            <li>Maintained group website at <a
                href="http://coen.boisestate.edu/vgrg/">http://coen.boisestate.edu/vgrg/</a>.
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>SKILLS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="es-resume-info">
        <ul>
          <li>Rust, Go, C#, C++, Python, Java, shell scripting, SQL</li>
          <li>Unity3D</li>
          <li>Android, Material Design</li>
          <li>HTML5, JavaScript, TypeScript, Angular</li>
          <li>Redis, DynamoDB, EC2, AWS Lambdas</li>
          <li>git, Perforce</li>
          <li>Vim, Visual Studio</li>
          <li>Linux (Slackware, Ubuntu), Microsoft Windows, OSX</li>
          <li>Light exposure to OpenGL, WPF</li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>PERSONAL INTERESTS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="es-resume-info">
        <ul>
          <li>Software architecture and design patterns</li>
          <li>Software development processes and practices, particularly around maintainability and reuse</li>
          <li>Distributed, scalable systems</li>
          <li>Video games and board games</li>
          <li>Portland food carts and craft breweries</li>
          <li>Snowboarding and bicycling</li>
          <li>Lightweight / ultralight hammock backpacking</li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>REFERENCES</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        Available upon request
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
