<div fxLayout="column">
  <div fxLayout="row">
    <div fxLayout="column">
      <div><a href="mailto: ignignokterr@gmail.com">Shane Lillie</a></div>
      <div>Software Engineer</div>
      <div>Portland, OR</div>
    </div>
  </div>
  <div fxFlex="20px"></div>
  <mat-divider></mat-divider>
  <div class="mat-subtitle-2 container-15">
    Software engineer with over a decade experience implementing multi-language <strong>SaaS IM services</strong>
    and over five years experience in <strong>game and game services development</strong>.
    Specialties in <strong>Rust</strong>, <strong>Go</strong>, <strong>C++</strong>, <strong>C#</strong>,
    <strong>Python</strong>, <strong>Typescript</strong>,
    and both <strong>Unity3D</strong> and <strong>Godot</strong> game engines.
    Experience collaborating remotely across multiple regions.
    Known for being able to digest new, varied tasks quickly and effectively.
    Self-directed with specific interests in scalable software architecture and design.
  </div>
  <mat-accordion multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>PROFESSIONAL EXPERIENCE</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Senior Game Services Programmer</div>
                  <div class="es-resume-date">6/2020 - 9/2024</div>
                </div>
                <div class="es-resume-company" fxFlex>Meta Reality Labs<br /><small><a
                      href="https://www.readyatdawn.com/">Ready at Dawn</a> First Party Studio</small></div>
                <div class="es-resume-location" fxFlex>Portland, OR Remote</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Designed, documented, and implemented <strong>Rust</strong> Terraform-like <strong>AWS
                  GameLift</strong> game server deployment CLI.
                <ul>
                  <li>Implemented infrastructure management, diff production, and remote resource management systems for
                    determining desired remote resource state and applying required changes to remote infrastructure.
                  </li>
                  <li>Integrated with Meta configuration management and <strong>CI/CD</strong> systems for integration
                    with
                    <strong>TeamCity</strong> build deployment processes.
                  </li>
                </ul>
              </li>
              <li>Reviewed potential PII-aware user data storage designs for unannounced title.</li>
              <li>Continued maintenance of legacy <strong>EchoVR</strong> backend services. Assisted with final shutdown
                of the Echo VR game and cleanup of all associated resources.
                <ul>
                  <li>Worked to remove multiple long standing scaling bottlenecks across services.</li>
                  <li>Migrated internal service state to <strong>Redis</strong>, replacing internal locking with
                    distributed locking.</li>
                  <li>Supported design and implementation of in-game transaction handling and game configuration
                    services.</li>
                  <li>Designed and implemented custom <strong>Redis Stream</strong> MQ solution.</li>
                  <li>Assisted with migration of game servers from the <strong>Multiplay Clanforge</strong>
                    provider to
                    <strong>AWS GameLift</strong>.
                    <ul>
                      <li>Developed tooling to manage <strong>AWS FlexMatch</strong> configurations for EchoVR.
                      </li>
                      <li>Assisted with adapting internal tooling to support AWS GameLift <strong>Local Zones</strong>.
                      </li>
                    </ul>
                  </li>
                  <li>Assisted with building out an AWS hosted <strong>load test environment for EchoVR.</strong>.
                    <ul>
                      <li>Configured load test environment infrastructure.</li>
                      <li>Developed orchestration tooling to manage <strong>AWS EC2</strong> instances for load
                        testing.
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>Assisted with migration of Ready At Dawn AWS service infrastructure to internal Meta
                infrastructure.
                <ul>
                  <li>Helped migrate internal <strong>ELK</strong> stack to Meta logging solution.</li>
                  <li>Implemented several security-related fixes across the Ready At Dawn codebase.</li>
                  <li>Worked alongside core Reality Labs teams to ensure cross studio support and tooling met studio
                    needs.</li>
                  <li>Implemented Meta endpoints to replace legacy Echo VR matchmaking services.</li>
                </ul>
              </li>
              <li>Implemented multiple privacy and security related updates as a part of the Meta acquisition.
              </li>
              <li>Participated in interviewing and hiring efforts for the services team. Mentored and onboarded
                new
                service developers as well as Meta developers aiding with the migration efforts.</li>
              <li>Helped drive transition from manual code formatting process to automated
                <strong>clang-format</strong>
                process for the
                studio.
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Game Services Programmer</div>
                  <div class="es-resume-date">10/2017 - 6/2020</div>
                </div>
                <div class="es-resume-company" fxFlex>
                  <a href="https://www.readyatdawn.com/">Ready at Dawn</a>
                </div>
                <div class="es-resume-location" fxFlex>Portland, OR</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Assisted with feature implementation and maintenance of <strong>Echo VR game services</strong>
                <ul>
                  <li>Focus on matchmaking, monitoring, alerting, and live support features.
                    <ul>
                      <li>Developed internal <strong>match history</strong> tracking and browsing system.</li>
                      <li>Maintained and continued development of <strong>ELK</strong> based statistics and analytics
                        backend and interface.</li>
                      <li>Developed internal <strong>Angular</strong> / <strong>Go</strong> live support tool for
                        monitoring and customer support, including player profile management, player banning, and game
                        configuration.</li>
                      <li>Developed external Community Moderation Tool using Angular and <strong>AWS Lambda / API
                          Gateway / Cognito</strong></li>
                      <li>Improved and maintained various custom <strong>matchmaking</strong> flows and configurations.
                      </li>
                    </ul>
                  </li>
                  <li> Worked extensively with <strong>AWS</strong> services as well as the <strong>Multiplay</strong>
                    game server hosting platform <strong>Clanforge</strong>
                    <ul>
                      <li>IAM, Budgeting</li>
                      <li>EC2, ECS Fargate, Lambda</li>
                      <li>DynamoDB, ElastiCache Redis, S3</li>
                      <li>API Gateway, Cognito</li>
                    </ul>
                  </li>
                  <li>Ported custom write-through Redis-DynamoDB cache from C++ to Go.</li>
                  <li>Imported unmanaged AWS infrastructure into Terraform configurations
                    <ul>
                      <li>Migrated manual EC2 instances to LaunchTemplates with <strong>Packer</strong> generated AMIs.
                      </li>
                    </ul>
                  </li>
                  <li>Developed tools for managing AWS credentials and deploying services and tooling to AWS.</li>
                  <li>Extended LiveOps tooling to support Echo VR timeboxed event management using layered JSON.</li>
                  <li>Designed and implemented <strong>Rust</strong> game server orchestration agent to allow game
                    session placement on <strong>Vultr</strong> server provider.</li>
                  <li>Assisted with the maintenance of internal <strong>ELK stack</strong>.</li>
                </ul>
              </li>
              <li>Assisted with feature implementation and maintenance of Echo VR game client and server as well as the
                custom Ready At Dawn game engine and tools.
                <ul>
                  <li> Added custom <strong>deadlock monitor</strong> utility to aid catching deadlock-related crashes
                    in Echo VR game client.</li>
                  <li> Implemented <strong>Dear ImGui</strong> display of real time game and network stats in Echo VR
                    game client.</li>
                  <li> Added spectator streaming feature to Echo VR client.</li>
                  <li>Designed and implemented tooling and processes for Echo VR game server deployment and feature
                    gating.</li>
                  <li> Added build and tool support for Go and Rust applications and tooling, including long term
                    support for both languages in the build system</li>
                </ul>
              </li>
              <li>Assisted with Echo VR <strong>Quest</strong> port
                <ul>
                  <li>Android build signing tooling.</li>
                  <li>Implemented several OS-level interfaces for the Linux / ARM platform.</li>
                  <li>Updated <strong>BugSplat</strong> support to include Android and Linux platforms.</li>
                  <li>Ported core engine HTTP interface to <strong>libcurl</strong> and <strong>nghttp2</strong> for
                    Android and Linux.</li>
                  <li>Ported core engine crash handling to <strong>Google Breakpad</strong> for Android and Linux.</li>
                </ul>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Software Engineer</div>
                  <div class="es-resume-date">9/2015 - 10/2017</div>
                </div>
                <div class="es-resume-company" fxFlex><a href="https://www.glu.com/">Glu Mobile</a>
                </div>
                <div class="es-resume-location" fxFlex>Portland, OR</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Assisted Toronto-based team with finish-line frontend and backend work needed to release <strong>Unity
                  5</strong> mobile title <strong>The Swift Life</strong></li>
              <li>Costed, implemented, and maintained systems on <strong>Unity 5</strong> (up to 5.4.4) mobile title
                <strong>Ultimate Chef</strong>
                <ul>
                  <li>Beta released in Philippines, New Zealand, and Canada on <strong>iOS</strong> and
                    <strong>Android</strong> platforms
                  </li>
                  <li>Implemented and maintained <strong>audio system</strong> (Unity 5 mixer-based), <strong>quest
                      system</strong>, <strong>wall decoration system</strong>, and <strong>social systems</strong>,
                    including <strong>facebook login</strong>, client-side <strong>friend/profile management</strong>,
                    and <strong>player to player gifting</strong></li>
                  <li>Implemented initial <strong>character management systems</strong>
                    <ul>
                      <li>Implemented <strong>character behavior systems</strong></li>
                      <li>Implemented system for <strong>dynamically swapping character model parts</strong></li>
                      <li>Integrated <strong>A* Pathfinding Project</strong> and <strong>Behavior Designer</strong>
                        assets</li>
                    </ul>
                  </li>
                  <li>Developed Behavior Designer-based systems for use with first time user experience and quest
                    sequences</li>
                  <li>Collaborated with designers to implement quest task hooks and behavior tree nodes</li>
                  <li>Implemented texture "painting" system using <strong>custom shader and color manipulation</strong>
                    <ul>
                      <li>Optimized shader for mobile and to avoid branching</li>
                    </ul>
                  </li>
                  <li>Assisted with refinement and optimization of game <strong>UI systems</strong>
                  </li>
                  <li>Designed and implemented <strong>timestamp offset cheat detection</strong></li>
                  <li>Responsible for managing the <strong>Android</strong> platform release
                    <ul>
                      <li>Managed overall game handling of Android back button</li>
                      <li>Integrated <strong>UnityOBBDownloader</strong> plugin to allow for expansion file downloading
                      </li>
                    </ul>
                  </li>
                  <li>Worked on many <strong>profiling and optimization</strong> tasks</li>
                </ul>
              </li>
              <li>Developed and maintained Unity-based <strong>build automation tools</strong> and
                <strong>auto-generated game data editors</strong>, making use of <strong>reflection</strong>,
                <strong>data binding</strong>, and <strong>JSON</strong> layout files
                <ul>
                  <li>Collaborated with the design and engineering teams to continually improve the data editors over
                    the life of the project</li>
                </ul>
              </li>
              <li>Developed and maintained <strong>Unity asset bundle</strong> download and management system for
                <strong>DLC</strong> content
                <ul>
                  <li>Worked extensively with <strong>Unity coroutines</strong>, the <strong>UnityWebRequest</strong>
                    class, and <strong>AWS S3</strong> services</li>
                </ul>
              </li>
              <li>Setup initial <strong>Jenkins</strong>-based build automation and continuous integration platform and
                assisted with maintaining and improving the build process over the life of the project</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Senior Software Developer</div>
                  <div class="es-resume-date">7/2014 - 8/2015</div>
                </div>
                <div class="es-resume-company" fxFlex>Symantec Corporation</div>
                <div class="es-resume-location" fxFlex>Portland, OR Remote</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Collaborated <strong>remotely</strong> with Toronto, San Francisco, and Chennai based teams</li>
              <li>Assisted with shutdown of two long standing <strong>Linux/Java</strong> based <strong>Enterprise
                  Instant Messaging</strong> products</li>
              <li>Assumed senior level responsibilities in transitioning customer facing <strong>ASP.NET</strong>
                support tool from proof of concept to official requirements to implementation
                <ul>
                  <li>Migrated synchronous methods to asynchronous, making use of <strong>C#</strong> async/await
                    features</li>
                  <li>Designed and implemented application layer for new C# based troubleshooting request monitoring and
                    processing <strong>Windows Service</strong></li>
                  <li>Analyzed and corrected code using <strong>ReSharper</strong> and implemented unit tests using the
                    <strong>Microsoft Unit Testing Framework</strong> and <strong>Typemock</strong>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Software Developer</div>
                  <div class="es-resume-date">12/2008 - 7/2014</div>
                </div>
                <div class="es-resume-company" fxFlex>Symantec.cloud<br /><small>Formerly MessageLabs</small></div>
                <div class="es-resume-location" fxFlex>Boise, ID / Portland, OR Remote</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Collaborated remotely with Toronto and UK based teams</li>
              <li>Researched and developed protocol changes for <strong>Linux/Java</strong> based <strong>Instant
                  Messaging Security</strong> product to add support for <strong>OCS/Lync (SIP)</strong> traffic
                scanning, including OCS/Lync federation, public IM federation, remote user support, certificate
                management, and customer configuration at the portal level. Communicated directly with customers in the
                GMT timezone to resolve issues during development</li>
              <li>Continued supporting Enterprise Instant Messaging <strong>Linux/Java/C++</strong> based backend and
                <strong>Windows/C++/MFC</strong> based frontend as well as taking on a larger role in maintaining the
                Instant Messaging Security product
              </li>
              <li>Integrated <strong>Embedded Tomcat</strong> instance across all Instant Messaging Security product
                components as an improvement to the existing internal facing diagnostics interface along with adding
                <strong>JSP/JSTL/jQuery</strong> support
              </li>
              <li>Assisted in transitioning from <strong>Accurev</strong> SCM to <strong>Perforce</strong> SCM,
                including updating automated <strong>Python</strong> build script and becoming familiar with the use of
                <strong>git-p4</strong> as an extension of Perforce
              </li>
              <li>Participated in company wide security audit project and assisted in development of <strong>SDL threat
                  models</strong> and preparation of mitigation plans as a result of that work
                <ul>
                  <li>Made use of <strong>OWASP</strong> and <strong>CVSS</strong> tools</li>
                </ul>
              </li>
              <li>Participated in several free form innovation day events
                <ul>
                  <li>Developed <strong>C#/WPF</strong> configuration editor for Instant Messaging Security product</li>
                  <li>Converted existing JSP/JSTL diagnostic pages to <strong>AngularJS</strong></li>
                </ul>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Software Developer</div>
                  <div class="es-resume-date">12/2005 - 12/2008</div>
                </div>
                <div class="es-resume-company" fxFlex>MessageLabs<br /><small>Formerly Omnipod,
                    Inc.</small></div>
                <div class="es-resume-location" fxFlex>Boise, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Collaborated remotely with Toronto and UK based teams</li>
              <li>Completed maintenance tasks on <strong>Linux/Java/C++</strong> based <strong>Enterprise Instant
                  Messaging</strong> backend
                <ul>
                  <li>Continued maintanence of <strong>JSP/JSTL</strong> administration portal and reporting tool </li>
                  <li>Assisted in rebranding of portal and reporting UIs</li>
                  <li>Fixed numerous bugs across the system</li>
                </ul>
              </li>
              <li>Completed maintenance tasks on <strong>Windows/C++/MFC</strong> based Enterprise Instant
                Messaging frontend
                <ul>
                  <li>Ported frontend from single-byte encoding to Unicode</li>
                  <li>Fixed numerous frontend bugs</li>
                </ul>
              </li>
              <li>Developed <strong>wireframes</strong> for <strong>Instant Messaging Security</strong> product portal
                interface</li>
              <li>Developed Instant Messaging Security extensions for existing <strong>C#/WCF</strong> portal API</li>
              <li>Developed <strong>WiX</strong> installers for several Instant Messaging Security backend components
              </li>
              <li>Took over development of several internal <strong>bash shell script</strong> support tools</li>
              <li>Ported automated build script from bash shell script to <strong>Python</strong></li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Software Developer</div>
                  <div class="es-resume-date">1/2005 - 12/2005</div>
                </div>
                <div class="es-resume-company" fxFlex>Omnipod, Inc.</div>
                <div class="es-resume-location" fxFlex>Boise, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Collaborated remotely with New York based team</li>
              <li>Ported <strong>Solaris/C++</strong> backend to <strong>Linux</strong> with <strong>g++ and
                  autotools</strong></li>
              <li>Fixed numerous bugs in <strong>JSP</strong> administration portal</li>
              <li>Designed and implemented several logging messages for reporting</li>
              <li>Developed <strong>JSP/JSTL/XHTML/CSS/AJAX</strong> interface to report generation tool</li>
              <li>Developed <strong>Java</strong> based report modules for report generation tool</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Student Software Developer</div>
                  <div class="es-resume-date">6/2002 - 12/2004</div>
                </div>
                <div class="es-resume-company" fxFlex>Boise State University</div>
                <div class="es-resume-location" fxFlex>Boise, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Designed and developed PIC assembly software for temperature sensor hardware</li>
              <li>Designed and developed PC interface to temperature sensor hardware using <strong>C++</strong> and
                <strong>Windows Template Library (WTL)</strong>
              </li>
              <li>Developed Vicon Force Plate software plugins using C++ and MFC</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">Intern</div>
                  <div class="es-resume-date">6/2002 - 8/2002</div>
                </div>
                <div class="es-resume-company" fxFlex>Imici, Inc.</div>
                <div class="es-resume-location" fxFlex>Boise, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Responded to customer support request emails</li>
              <li>Assumed software Q&amp;A and testing responsibilities</li>
              <li>Developed a <strong>Linux/C++/Qt</strong> based instant messenger client</li>
              <li>Researched server memory saving using a shared memory solution</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxFlex>
                <div fxLayout="column" fxFlex>
                  <div class="es-resume-title">PC Technician</div>
                  <div class="es-resume-date">6/2000 - 6/2002</div>
                </div>
                <div class="es-resume-company" fxFlex>Kuna School District</div>
                <div class="es-resume-location" fxFlex>Kuna, ID</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="es-resume-info">
            <ul>
              <li>Maintained district PCs</li>
              <li>Took on software and hardware tasks relating to <strong>Linux</strong> and the web</li>
              <li>Webmaster for <a href="https://www.kunaschools.org/">https://www.kunaschools.org/</a> in 2002</li>
            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>EDUCATION</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxFlex>
              <div fxLayout="column" fxFlex>
                <div class="es-resume-title"></div>
                <div class="es-resume-date">8/2000 - 12/2004</div>
              </div>
              <div class="es-resume-company" fxFlex>Boise State University</div>
              <div class="es-resume-location" fxFlex>Boise, ID</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="es-resume-info">
          <ul>
            <li>Bachelor of Science in Computer Science</li>
            <li>3.161 GPA</li>
          </ul>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxFlex>
              <div fxLayout="column" fxFlex>
                <div class="es-resume-title"></div>
                <div class="es-resume-date">8/1996 - 5/2000</div>
              </div>
              <div class="es-resume-company" fxFlex>Kuna High School</div>
              <div class="es-resume-location" fxFlex>Kuna, ID</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="es-resume-info">
          <ul>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>AFFILIATIONS</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxFlex>
              <div fxLayout="column" fxFlex>
                <div class="es-resume-title">Secretary</div>
                <div class="es-resume-date">2003 - 2004</div>
              </div>
              <div class="es-resume-company" fxFlex>Video Graphics Research Group</div>
              <div class="es-resume-location" fxFlex>Boise State University</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="es-resume-info">
          <ul>
            <li>Maintained group website at <a
                href="https://coen.boisestate.edu/vgrg/">https://coen.boisestate.edu/vgrg/</a>.
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>SKILLS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="es-resume-info">
        <ul>
          <li>Rust, Go, C#, C++, Python</li>
          <li>Unity3D and Godot game engines</li>
          <li>TypeScript, Angular, Material Design</li>
          <li>AWS EC2, ECS, DynamoDB, SNS, ElastiCache (Redis), Lambda, GameLift / FlexMatch</li>
          <li>git, Perforce</li>
          <li>Linux, Microsoft Windows, OSX</li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>PERSONAL INTERESTS</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="es-resume-info">
        <ul>
          <li>Rust Programming Language</li>
          <li>Scalable software architecture and design</li>
          <li>Software development processes and practices, particularly around maintainability and reuse</li>
          <li>Video games and board games</li>
          <li>Snowboarding and Formula 1</li>
          <li>Lightweight / ultralight hammock backpacking</li>
          <li><a href="https://luminoth.itch.io/">Global Game Jam (hosted on itch.io)</a></li>
          <li>Personal website
            <ul>
              <li><a href="https://crates.io/crates/warp">Warp</a> backend running on AWS ECS Fargate</li>
              <li> Angular / Material Design frontend running on AWS CloudFront</li>
            </ul>
          </li>
          <li><a href="https://github.com/Luminoth">Personal GitHub repository</a></li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>REFERENCES</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        Available upon request
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
