<div class="fx-layout-col">
  <div class="fx-layout-row">
    <div class="fx-layout-col">
      <div class="es-header-medium">Shane Lillie</div>
      <div><em>Senior Software Engineer</em></div>
      <div>Portland, OR · Remote</div>
      <div><a href="mailto: ignignokterr@gmail.com" style="text-decoration:none">ignignokterr@gmail.com</a></div>
      <div><a href="https://www.linkedin.com/in/slillie/" style="text-decoration:none">linkedin.com/in/slillie/</a> · <a
          href="https://github.com/Luminoth" style="text-decoration:none">github.com/Luminoth</a></div>
    </div>
  </div>
  <div class="fx-flex-20px"></div>
  <mat-divider></mat-divider>
  <app-resume></app-resume>
</div>
