<div fxLayout="column">
  <mat-accordion multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>MY STUFF</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a href="/wow/addons">Addons</a></li>
        <li><a href="/wow/macros">Macros</a></li>
        <li><a href="/wow/screenshots">Screenshots</a></li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>CHARACTERS</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion multi>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxFlex></div>
              <div fxFlex>
                <strong>Darkspear (PvP)</strong>
              </div>
              <div fxFlex></div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column">
            <div>
              <a href="https://worldofwarcraft.com/en-us/guild/us/darkspear/inebriated-zymurgists">Inebriated
                Zymurgists</a>
            </div>
            <div fxFlex="15px"></div>
            <ul>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/luangpho">LuangPho</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/luminoth">Luminoth</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/ninamori">Ninamori</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/phendrana">Phendrana</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/chozo">Chozo</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/westvleteren">Westvleteren</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/kokiri">Kokiri</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/euphrati">Euphrati</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/frostypaws">Frostypaws</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/bistavis">Bistavis</a></li>
              <li><a href="https://worldofwarcraft.com/en-us/character/us/darkspear/ingtusk">Ingtusk</a></li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxFlex></div>
              <div fxFlex>
                <strong>Ysondre (PvP)</strong>
              </div>
              <div fxFlex></div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li><a href="https://worldofwarcraft.com/en-us/character/us/ysondre/thorsak">Thorsak</a></li>
            <li><a href="https://worldofwarcraft.com/en-us/character/us/ysondre/turimm">Turimm</a></li>
            <li><a href="https://worldofwarcraft.com/en-us/character/us/ysondre/luminoth">Luminoth</a></li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>ADDONS</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a href="http://wow.curseforge.com/addons/">CurseForge</a></li>
        <li><a href="http://www.wowace.com/addons/">WoWAce</a></li>
        <li><a href="http://www.wowinterface.com/">WoW Interface</a></li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>MISCELLANEOUS</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a href="http://www.worldofwarcraft.com/">World of Warcraft Community Site</a></li>
        <li><a href="http://www.wowhead.com/">WoWhead</a></li>
        <li><a href="http://www.wowpedia.org/">WoWPedia</a></li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>MOVIES</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li><a href="http://www.warcraftmovies.com/movieview.php?id=6140">World of Roguecraft Episode 3</a></li>
        <li><a href="http://www.warcraftmovies.com/movieview.php?id=7940">World of Roguecraft Episode 2</a></li>
        <li><a href="http://www.warcraftmovies.com/movieview.php?id=7433">World of Paladincraft</a></li>
        <li><a href="http://www.warcraftmovies.com/viewserver.php?id=28">Darkspear</a></li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
