@use '@angular/material' as mat;
@use 'styles.scss';

// theme config (v19)
$es-app-theme-config: (
  color: (theme-type: dark,
    primary: mat.$cyan-palette,
    secondary: mat.$azure-palette,
    error: mat.$red-palette,
  ),
  typography: (brand-family: 'Roboto',
    bold-weight: 900,
  ),
  density: 0,
);

html {
  color-scheme: dark;

  // apply base theme
  @include mat.theme($es-app-theme-config);

  // apply custom theme
  @include styles.theme3($es-app-theme-config);
}
