@use '@angular/material' as mat;
@use 'styles.scss';

@include mat.core();

// define the theme
$es-app-theme3: mat.define-theme((color: (theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$red-palette,
      ),
      typography: (brand-family: 'Roboto',
        bold-weight: 900),
      density: (scale: 0)));

html {
  color-scheme: dark;

  // include all theme styles for the components
  @include mat.core-theme($es-app-theme3);
  @include mat.all-component-themes($es-app-theme3);
  @include mat.typography-hierarchy($es-app-theme3, $back-compat: true);
  @include styles.theme3($es-app-theme3);
}
