<div class="fx-layout-col">
  <mat-accordion multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>GAME DEVELOPMENT</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ul>
          <li><a href="https://www.oculus.com/echo-vr/">Echo VR</a></li>
          <li><a href="https://globalgamejam.org/users/luminoth">Global Game Jam Profile</a>
            <ul>
              <li><a href="https://v3.globalgamejam.org/users/luminoth">Old Global Game Jam Profile</a></li>
            </ul>
          </li>
          <li><a href="https://luminoth.itch.io/">itch.io Profile</a></li>
          <li><a href="https://gamejolt.com/@Luminoth">GameJolt Profile</a></li>
        </ul>
        <ul>
          <li><a href="http://www.glicko.net/glicko/glicko2.pdf">Glicko-2 Example</a></li>
          <li><a href="https://web.cs.ucla.edu/~yzsun/papers/WWW17Chen_EOMM">EOMM Whitepaper</a></li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>SOCIAL</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ul>
          <li><a href="https://www.linkedin.com/in/slillie">LinkedIn</a></li>
          <li><a href="https://bsky.app/profile/luminoth.bsky.social">BlueSky</a></li>
          <li><a href="https://mastodon.gamedev.place/@luminoth">Mastodon</a></li>
          <li><a href="https://www.facebook.com/Luminoth82">Facebook</a></li>
          <!--<li><a href="https://plus.google.com/+ShaneLillie">Google+</a></li>-->
          <li><a href="https://www.twitter.com/Luminoth82">Twitter</a></li>
          <li><a href="https://steamcommunity.com/id/luminoth">Steam</a></li>
          <li><a href="https://www.xbox.com/en-US/play/user/Luminoth82">Xbox</a></li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>SCHOOL</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ul>
          <!--<li><a href="https://coen.boisestate.edu/VGRG/">Video Graphics Research Group</a></li>-->
          <li><a href="https://www.boisestate.edu/coen-cs/">Boise State University CS Department</a></li>
          <li><a href="https://www.kunaschools.org/">Kuna School District</a></li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>WRITINGS / TUTORIALS</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ul>
          <li><a routerLink="/raw_xp">Raw Sockets in WindowsXP</a> (2002)</li>
          <li><a routerLink="/tutorials/notepad">Notepad Tutorial (C)</a> (2001)</li>
          <li><a routerLink="/tutorials/socket">Socket Tutorial (C)</a> (2001)</li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>MISCELLANEOUS</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ul>
          <li><a href="https://www.slackware.com/">Slackware Linux</a></li>
          <li><a href="https://pop.system76.com/">Pop!_OS</a></li>
          <li><a href="{{environment.staticUrl}}/quake3/">Some old Quake3 stuff</a></li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
